.container-fluid{
	background-color: tomato;
}
.navbar { 
	top: center;
	background-color: aqua;
}
#header {
	max-width: 90%;
}
#header2 {
	max-width: 90%;
}
#logo {
	width: 200px;
	height: 100px;
}
#slides {
	fill: initial;
}