html {
	font-family: 'Lato', sans-serif;
	color:  #506a85;
	width: 100%;
	padding: 0;

}

.container-fluid {
	max-width: 100%;
	background-color: white;
	/*	padding: 0 !important; atsirad paddingas del to sita pridedu */
}
a,h2,h3,h4,h5 {

color:  #506a85;

}
#button-carousel {	
text-align: center;
	font-weight: bold;
	font-size: 0.7rem;
	max-height: 3rem;
	max-width: 10rem;}
.carousel-item-inner-1 > h1,
#carousel-item-inner-2 > h1,
#carousel-item-inner-3 > h1,
#carousel-item-inner-4 > h1 {
	font-size: 2rem;
	font-weight: bold;
}
#carousel-item-inner-3	 > h1 {
	background-color: #506a85;
}
#carousel-item-inner-3	 > p {
	color: #506a85;
}
#carousel-item-inner-4	 > h1 {
background-color: #506a85;
}
#carousel-item-inner-4	 > p {
	color: white;
}
#carousel-item-inner-1 > p{
	font-size:  0.875rem;
	color:#a3b1bf;
}
#carousel-item-inner-2 > p{
	font-size:  0.875rem;
	color: white;
}
.navbar { 
	top: center;
	background-color: white;
	color:  #506a85;
}
.navbar-toggler {

	color: red !important;
    background-color: #a3b1bf;
}
.navbar-toggler-icon {
	color: black;
	background-size: black;
}
#header {
	max-width: 90%;
}
#header2 {
	max-width: 90%;
}
#logo {
	width: 161px;
	height: 40px;
}
#karusele {
	width: 100%;

	color:  #506a85;


}
#search-icon {
	color: #506a85;
}
#slides {
	}
.carusel-inner img {

}
.img-fluid 
{ max-width: 100%; and height: auto; 
}
#footer-ending, footer {
	background-color: #283645;
}
hr {
	color: red;
}
.carousel-indicators {
	background-color: white;
	max-width: 10%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carousel-caption {

	top: 50%;
	transform: translateY(-50%);
}	
#carousel-item-inner-1 {

	padding-bottom: 3%;

}

#carousel-item-inner-2 {

}
#carousel-item-button-3 {
	text-align: left;
}
.carousel-indicators li {
	color: #506a85;
	opacity: 1;
}
.active i {
	color: #00bc9c !important;
}
.carousel-indicators li {
    width: 1%;
    height: 1%;

}
.carousel-indicators {
    bottom: -8%;
    left: 30%;
}	

.carousel-indicators li {
    text-indent: 0;
    width: 10% ;
    height: 10% ;

    border-radius: 5% ;
    bottom:10%;
    font: 10%;
}
.carousel-inner img { 
	width:100%;
	height:auto;
 
}
#slogan {
	max-width: 90%;
	padding-top: 5%;
	padding-bottom: 5%;
}
#slogan h1,#slogan p,#slogan h3,#slogan i
 {
	margin-top: 5%;
	margin-bottom: 5%;
}

#latest-works {
	padding-top: 5%;
	padding-bottom: 5%;
	max-width: 90%;
	background-color: #f2f5f7;
	font-size: 44px; font-family: "Lato"; color: rgb(80, 106, 133); font-weight: bold; line-height: 1.227; 
}
#latest-works p {
	font-size: 20px;
}

.card-img-top {
	background-color: #00bc9c;
}
.card-img-top img:hover {
	opacity: 0.3;

}
.card-body {
	padding: 0;
	border: 	none;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
}
#card-bottom {
		padding-top: 1rem;
		padding-bottom: 1rem;
		opacity: 1;
		background-color: white !important;
}

#white-container-fluid {
	max-width: 90%;
	background-color: white;
}
#latest-works-fluid {
	background-color: #f2f5f7;
}
#white-container-fluid2 {
	max-width: 100%;
}
#mygtukas {

	max-width: 5%;
	max-height: 3%;
}
.lead {
	margin-bottom: 3%;
}

#slogan2 {
	padding-top: 5%;
	padding-bottom: 5%;
	max-width: 90%;
	background-color: white;
	font-size: 44px; font-family: "Lato"; color: rgb(80, 106, 133); font-weight: bold; line-height: 1.227; text-align: center;
}
#slogan2 p {
	font-weight: none;
	font-size: 1rem;
}
.btn {
	color: white;
}
#white-container-fluid i {
	font-size: 5rem;
	color: #00bc9c;
}

.card-body {
	background-color: #00bc9c;
	padding: 0;
	border: 	none;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

#card-bottom {
		opacity: 1;
		background-color: white !important;
		padding-top: 1rem;
		padding-bottom: 1rem;
}

#white-container-fluid {
	background-color: white;
}
.card:hover {


transition: all .3s ease-in-out;
}

.card img:hover {
	opacity: 0.3;

}
.card-body:hover {
	color: #00bc9c !important;
	background-color:  #00bc9c;

}
.card-body h7 {
	font-size: 2rem;
}
.card-body p {
	font-size: 1.4rem;
}
#footer-color {
	width: 100%;
	background-color: #2f4052;
}
#footer-starting {
	color: #a3b1bf;

	padding-top: 3rem;
	background-color: #2f4052;
	max-width: 90%;	
	padding-bottom: 2rem;
}
h5 {	
	font-weight: bold;
	color: white;
	margin-top: 1.5rem;
	margin-bottom:1.5rem;
	font-size: 1rem;
}
p {
	color: #828e99;
	font-size: 0.875rem;
}
a {color: #828e99;
	font-weight: bold;
	font-size:1rem;
}
#footer-starting > div > div:nth-child(1) > img {
		padding-bottom:1.5rem;
}
#footer-ending {
	padding-top: 2rem;
	max-width: 90%;
	font-size: 1.25rem; 
}
footer {
		height: 6.3rem;
}
#owl-container {
	max-width: 100%;
}
#work-showcase {
	padding-left: 0.25rem;
	padding-bottom: 0.25rem;
	max-width: 7.813rem;
	max-height: 5.313rem;
}
.input-group>.form-control {
	color: #828e99;
	background-color: rgba(78,92,108,1);
	border-color: rgba(78,92,108,1);
	border-width: 0.45rem;
	padding-right: 3rem;
}
#email-button {
	right: 3%;
	border: solid;
	border-width: 0.25rem;
	padding: 0.5rem;
	border-color: rgba(78,92,108,1);
	border-radius: 2rem 2rem 2rem 2rem;
	font-size: 0.7rem;
	max-height: 3rem;
	max-width: 6rem;
}
.input-group {
	background-color: rgba(78,92,108,1);
}
a:hover, .navbar:hover {
	opacity: 0.9;
	color:  #00bc9c;
}
.card-img-top {
		background-color: #00bc9c;
}
.card-img-top:hover, #logo:hover {
	opacity: 0.3;
	background-color: #00bc9c;
}
#owl-container > div > div.owl-stage-outer > div > div:nth-child(8) > div > img {
	background:  #00bc9c;
	opacity: 1
}