.container-fluid {
	max-width: 100%;
	background-color: tomato;
}
.navbar { 
	top: center;
	background-color: aqua;
}
#header {
	max-width: 90%;
}
#header2 {
	max-width: 90%;
}
#logo {
	width: 200px;
	height: 100px;
}
#karusele {


}
#slides {
	}
.carusel-inner img {

}

.img-fluid { max-width: 100%; and height: auto; }
footer {
	background-color: black;
}
hr {
	color: red;
}
.carousel-indicators {
	background-color: white;
	max-width: 8%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carousel-indicators li {
    text-indent: 0 !important;
    width: 24px !important;
    height: 24px !important;
    margin: 3px !important;
    border-radius: 50px !important;
    bottom:3px;
    font: 10px;
}
.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#slogan {
	max-width: 90%;
	
	padding-top: 5%;
}
#gray-container {
	max-width: 90%;
	background-color: gray;
}

#white-container-fluid {
	background-color: white;
}
#gray-container-fluid {
	background-color: gray;
}

#mygtukas {

	max-width: 5%;
	max-height: 3%;
}
.img-fluid {
  max-width: 10px;
  height: auto;
}